@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black text-white;
  }

  html.light {
    @apply bg-white;
  }

  html.light body {
    @apply bg-white text-gray-900;
  }
}
